[submodule "SophisticatedStorage"]
	path = SophisticatedStorage
	url = https://github.com/P3pp3rF1y/SophisticatedStorage.git
	branch = 1.19.x-dev
[submodule "SophisticatedBackpacks"]
	path = SophisticatedBackpacks
	url = https://github.com/P3pp3rF1y/SophisticatedBackpacks.git
	branch = 1.19.x-dev
[submodule "SophisticatedCore"]
	path = SophisticatedCore
	url = https://github.com/P3pp3rF1y/SophisticatedCore.git
	branch = 1.19.x-dev
[submodule "SophisticatedStorageInMotion"]
	path = SophisticatedStorageInMotion
	url = https://github.com/P3pp3rF1y/SophisticatedStorageInMotion.git
[submodule "SophisticatedStorageCreateIntegration"]
	path = SophisticatedStorageCreateIntegration
	url = https://github.com/P3pp3rF1y/SophisticatedStorageCreateIntegration.git
[submodule "SophisticatedBackpacksCreateIntegration"]
	path = SophisticatedBackpacksCreateIntegration
	url = https://github.com/P3pp3rF1y/SophisticatedBackpacksCreateIntegration.git
[submodule "Reliquary"]
	path = Reliquary
	url = https://github.com/P3pp3rF1y/Reliquary.git
[submodule "SophisticatedItemActions"]
	path = SophisticatedItemActions
	url = https://github.com/P3pp3rF1y/SophisticatedItemActions.git
	branch = 1.20.1
[submodule "SophisticatedInventoryInteractions"]
	path = SophisticatedInventoryInteractions
	url = https://github.com/P3pp3rF1y/SophisticatedInventoryInteractions.git
	branch = 1.20.x
